<div class="maskgroup-container">
    <div class="maskgroup-maskgroup">
      <!--div class="maskgroup-register-dark">
        <img
          src="/express_app/public/assests/register-bg-black.png"
          alt="background2014"
          class="maskgroup-background"
        /-->
        <span class="maskgroup-text"><span>Register</span></span>
          <div class="maskgroup-name">
            <input
              type="text"
              name="name"
              placeholder="Full Name"
              class="maskgroup-text02"
            />
          </div>
          <div class="maskgroup-email">
            <input
              type="email"
              name="email"
              placeholder="E-mail"
              class="maskgroup-text04"
            />
          </div>
          <div class="maskgroup-phone">
            <input
              type="text"
              name="phone"
              placeholder="Phone"
              class="maskgroup-text06"
            />
          </div>
          <div class="maskgroup-password">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="maskgroup-text08"
            />
          </div>
          
          <div class="maskgroup-registerbtn">
            <button type="submit" href="/express_app/controllers/homer.js" class ="maskgroup-text12">
              Register
            </button>
          </div>
          <div class="maskgroup-signupbtn">
            <a href="/express_app/controllers/login.js" class="maskgroup-text14">Have account? Sign In</a>
          </div>





          