<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TaxiVerse - Signup</title>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Lato');
</style><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/stylesheets/style-sign.css">

</head>
<body>
  <div class="glassBox">
	<a href = "/signupr" style="text-decoration:none">
    <div class="glassBox__imgBox" >
      <img src="https://i.ibb.co/8Kvvdbf/30678512-removebg-preview.png" alt="">
      <h3 class="glassBox__title">Rider</h3>
    </div>
	</a>
    <div class="glassBox__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt veniam adipisci fugit qui quaerat!</div>
  </div>
  
  <div class="glassBox">
	<a href = "/signupd" style="text-decoration:none">
    <div class="glassBox__imgBox">
      <img src="https://i.ibb.co/27wwCNS/taxi-driver-creation-kit-create-600w-1067904773-transformed-removebg-preview-2.png" alt="">
      <h3 class="glassBox__title">Driver</h3>
    </div>
	</a>
    <div class="glassBox__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt veniam adipisci fugit qui quaerat!</div>
  </div>
  
</body>
</html>
